* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 3%;
}


.title {
    font-family: Roboto;
    font-weight: 700;
    /* margin: 3% 0; */
}

.main-title {
    color: green;
    font-size: 48px;
    display: flex;
    align-items: center;
    /* margin: 3% 0; */
}

#title-logo {
    max-height: 100px;
    width: auto;
    margin-right: 2%;
}

.section-title {
    color: rgb(53, 114, 149);
    font-size: 28px;
    display: inline-block;
    border-radius: 8px;
    /* background: rgb(245, 245, 135); */
    margin: 0.5em 0;
    /* padding: 0.5em; */
}

.accent-line {
    width: 5em;
    height: 0.2em;
    margin-bottom: 1em;
    background: rgb(167, 236, 135);
}

.content {
    font-family: Nunito;
    font-weight: 200;
    font-size: 20px;
    line-height: 2em;
    margin: 0 4%;
}

li {
    margin: 0.5em;
}



.fas {
    margin-right: 1%;
    color: green;
}

@media(max-width:1220px) {
    main {
        margin: 5%;
    }
}

@media(max-width:700px) {
    main {
        margin: 5%;
    }

    .main-title {
        font-size: 26px;
    }

    #title-logo {
        max-height: 90px;
    }

    .section-title {
        font-size: 20px;
    }
    
    .content {
        font-size: 18px;
    }
}
