* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 3%;
}


.title {
    font-family: Roboto;
    font-weight: 700;
}

.main-title {
    color: green;
    font-size: 48px;
    display: flex;
    align-items: center;
}

#title-logo {
    max-height: 4em;
    margin-right: 1em;
}

.section-title {
    color: rgb(53, 114, 149);
    font-size: 28px;
    display: inline-block;
    border-radius: 8px;
    margin: 0.5em 0;
}

.accent-line {
    width: 5em;
    height: 0.2em;
    margin-bottom: 1em;
    background: rgb(167, 236, 135);
}

.content {
    font-family: Nunito;
    font-weight: 700;
    font-size: 20px;
    line-height: 2em;
    margin: 0 2% 0 5%;
}

li {
    margin: 0.5em;
}

.contact {
    margin-bottom: 8%;
}

.fas {
    margin-right: 1%;
    color: green;
}

@media(max-width:1220px) {
    main {
        margin: 5%;
    }
}

@media(max-width:700px) {
    main {
        margin: 5% 3%;
    }

    .main-title {
        text-align: center;
        font-size: 27px;
    }

    #title-logo {
        max-height: 6em;
        margin-right: 0;
    }

    .section-title {
        font-size: 20px;
        margin-left: 2%;
    }

    .accent-line {
        margin-left: 2%;
    }
    
    .content {
        font-size: 18px;
    }
}
